.library {
  display: grid;

  grid-template-columns: 1fr;

  overflow: hidden;

  flex: none;

  width: 250px;

  padding: 30px 20px 20px;

  background: #252525;

  gap: 7px;

  z-index: 2;
}

.library > * {
  grid-row: 1;
  grid-column: 1;

  min-width: 0;

  height: 100%;

  overflow-y: scroll;
}

.back {
  padding-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;

  user-select: none;
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;

  padding: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #d6d6d6;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  gap: 10px;

  box-sizing: border-box;

  height: 30px;

  border-radius: 7px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #d6d6d6;

  cursor: pointer;
}

.subheading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;

  user-select: none;
}

.expand {
  cursor: pointer;
}

.length {
  margin-left: auto;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;
}

.add {
  display: flex;
  flex-direction: column;
  padding: 2px 5px;

  background: #353535;
  border-radius: 7px;

  cursor: pointer;
  user-select: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview {
  display: flex;
  flex-direction: column;

  padding: 3px;

  border-width: 1px;
  border-style: solid;
  border-radius: 9px;

  cursor: pointer;
}

.previewCanvas {
  border-radius: 7px 7px 0px 0px;
}

.previewName {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  padding-left: 12px;

  background: #353535;
  border-radius: 0px 0px 7px 7px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #d6d6d6;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 15px 16px;

  box-sizing: border-box;

  height: 166px;

  background: #353535;
  border-radius: 7px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #d6d6d6;

  cursor: grabbing;
}
