.canvas {
  height: 100vh;
}

.left {
  position: fixed;

  left: 65px;
  top: 65px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right {
  position: fixed;

  right: 10px;
  top: 65px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.window {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px 0px;

  width: 300px;

  border-radius: 15px;
  border: 1px solid #383838;

  z-index: 2;

  background-color: #252525;
  color: #d6d6d6;
}

.name {
  padding: 20px 0px 10px 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.subheading {
  padding: 20px 0px 10px 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;
}

.empty {
  background: #353535;

  height: 100%;
}

.treeObject {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 7px;
}
