.add {
  cursor: pointer;

  user-select: none;

  color: #737373;
}

.delete {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 7px;
  height: 7px;
}

.treeObject {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 7px;

  padding-right: 20px;

  width: 100%;

  white-space: nowrap;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10px;
  height: 10px;
}
