.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;

  gap: 10px;

  height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #d6d6d6;

  cursor: pointer;
  user-select: none;
}
