.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;

  gap: 10px;

  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 15px;

  cursor: pointer;
  user-select: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 45px;
  height: 45px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 15px;

  user-select: none;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
}
