.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #353535;
  border-radius: 20px;

  padding-right: 10px;
}

.input {
  width: 100%;

  padding: 10px 10px 10px 12px;

  background: none;

  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height */

  color: #d6d6d6;

  outline: none;
}
