.subheading {
  display: flex;
  flex-direction: row;

  padding: 20px 20px 5px 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;
}
