.attribute {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px 5px 20px;

  user-select: none;

  cursor: pointer;
}

.header {
  padding: 20px 20px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  padding: 0px;

  color: #d6d6d6;

  white-space: nowrap;

  background: none;
  outline: none;
  border: none;
}

.form {
  width: 100%;
}

.inherited {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #737373;

  white-space: nowrap;
}

.type {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  white-space: nowrap;
}

.close {
  margin-left: 15px;
}
