.addMenu {
  display: flex;
  flex-direction: column;
  padding: 10px;

  gap: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: rgba(214, 214, 214, 0.5);
}

.form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extends {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 12px;

  gap: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #d6d6d6;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  border: 1px solid #353535;
  box-sizing: border-box;
  border-radius: 25px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  color: #ffffff;

  flex-grow: 1;
}
